<html lang="en">!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS </title>
</head>
<body>
<style> h1{
  color:aquamarine; font-size:30px;
  font-family:Georgia;  
}