p{
    color:rgb(241, 7, 7);
}
h1 {
    color: rgb(252, 5, 5);
}
body{
    background-image: url(‫img.jpg);
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
#para{}    
}